body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 135px;
    padding-right: 135px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgba(34, 150, 249, 1);
}

a:active {
    color: rgba(34, 150, 249, 1);
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}