/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "../css/normalize.css";
@import "../fonts/";
@import "../css/settings.css";
.wr-clients-reviews {
    margin-bottom: 80px;
    margin-top: -77px;
}

.wr-clients-reviews .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    min-width: 0;
}

.wr-clients-reviews .wrapper .wr-clients-reviews-heading h2 {
    font-family: "Manrope-extrabold", sans-serif;
    font-size: 36px;
    line-height: 64px;
    color: #18191F;
    margin-bottom: -13px;
}

.wr-clients-reviews .wrapper .wr-clients-reviews-heading p {
    font-family: "Manrope-regular", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.wr-clients-reviews .wrapper .swiper-container {
    padding-top: 51px;
}

.wr-clients-reviews .wrapper .swiper-container .swiper-slide {
    max-width: 23%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.wr-clients-reviews .wrapper .swiper-container .swiper-slide:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    top: -30px;
    cursor: -webkit-grab;
    cursor: grab;
}

.swiper-container .swiper-wrapper {
    max-width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.swiper-container .swiper-slide .review-content {
    margin-top: -268px;
}

.swiper-container .swiper-slide .review-content h3 {
    font-family: "Manrope-semibold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #18191F;
    margin-bottom: -15px;
}

.swiper-container .swiper-slide .review-content p {
    font-family: "Manrope-regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #18191F;
}

.swiper-container .swiper-slide .reviewer p:first-of-type {
    font-family: "Manrope-bold", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}

.swiper-container .swiper-slide .reviewer p:last-of-type {
    font-family: "Helvetica-regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #474A57;
}

.swiper-container .swiper-slide .reviewer img {
    padding-top: 58px;
    padding-left: 80px;
}

.swiper-container .swiper-slide .reviewer p:first-of-type {
    margin-top: 5px;
    margin-bottom: -15px;
}

.swiper-container .swiper-slide img {
    z-index: -1;
    margin-left: -80px;
    margin-top: -20px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -14px 8px;
    background-color: #E5E5E5;
    width: 6px;
    height: 6px;
    border: 3px solid #2296F9;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 12px;
}


/*******************МЕДИАЗАПРОСЫ********************/

@media (max-width:320px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: -420px;
        bottom: 0px;
    }
}

@media (min-width:320px) and (max-width: 360px) {
    .wr-clients-reviews .wrapper .wr-clients-reviews-heading h2 {
        font-size: 34px;
        line-height: 32px;
    }
    .wr-clients-reviews .wrapper .swiper-container {
        padding-top: 15px;
        max-width: 1068px;
    }
    .wr-clients-reviews .wrapper .wr-clients-reviews-heading p {
        font-size: 13px;
        line-height: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: -375px;
        bottom: 11px;
    }
    .wr-clients-reviews .wrapper .swiper-container .swiper-slide {
        padding-left: 80px;
        padding-right: 20px;
    }
    .swiper-container .swiper-slide .review-content {
        margin-top: -244px;
    }
    .swiper-container .swiper-slide .review-content h3 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .swiper-container .swiper-slide .review-content p {
        font-size: 12px;
        line-height: 20px;
    }
    .wr-clients-reviews {
        margin-top: -50px;
    }
}

@media (min-width:360px) and (max-width: 450px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: -365px;
        bottom: 12;
    }
}

@media (min-width:450px) and (max-width: 560px) {
    .wr-clients-reviews .wrapper .swiper-container .swiper-slide {
        max-width: 24%;
    }
}

@media (min-width:560px) and (max-width: 640px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 12;
        left: -307px;
    }
}

@media (min-width:640px) and (max-width: 750px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 12;
        left: -307px;
    }
    .wr-clients-reviews .wrapper .swiper-container .swiper-slide {
        max-width: 25%;
    }
}

@media (min-width:750px) and (max-width: 828px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 10px;
        left: -350px;
    }
}

@media (min-width: 828px) and (max-width: 990px) {
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: -175px;
    }
    .wr-clients-reviews .wrapper .swiper-container .swiper-slide {
        max-width: 25%;
        padding-left: 80px;
    }
}